body { 
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: beige;
  text-align: center;
  padding: 20px;
}

#mostrar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.row {
  width: 220px;
  height: 180px;
  border-radius: 10px;
  padding: 12px;
  background: #ddd;
  display: flex;
  flex-direction: row; /* 👉 cambia de column a row */
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: background 0.4s, color 0.4s;
}

.row img {
  max-width: 80px;
  border-radius: 8px;
}

.row h1 {
  font-size: 2rem;
  margin: 0;
}

.row h3 {
  margin: 0;
  font-size: 1rem;
  color: #444;
}

.row:hover {
  background: #bbb;
}

.row button {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.row button{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}